In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df1= df[df.Cholesterol<=(3*df.Cholesterol.std()+ df.Cholesterol.mean())]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df2=df1[df1.RestingBP<=(3*df1.RestingBP.std()+ df1.RestingBP.mean())]
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [5]:
df3=df2[df2.Oldpeak<=(3*df2.Oldpeak.std()+ df2.Oldpeak.mean())]
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df4= df3.copy()
df4.ST_Slope.replace({'Up':1,'Flat':2,'Down':3}, inplace=True)
df4.ExerciseAngina.replace({'N':0,'Y':1}, inplace=True)
df4.RestingECG.replace({'Normal':1, 'ST':2, 'LVH':3}, inplace=True)
df4.ChestPainType.replace({'ATA':1, 'NAP':2, 'ASY':3, 'TA':4}, inplace=True)

In [7]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,1,172,0,0.0,1,0
1,49,F,2,160,180,0,1,156,0,1.0,2,1
2,37,M,1,130,283,0,2,98,0,0.0,1,0
3,48,F,3,138,214,0,1,108,1,1.5,2,1
4,54,M,2,150,195,0,1,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,4,110,264,0,1,132,0,1.2,2,1
914,68,M,3,144,193,1,1,141,0,3.4,2,1
915,57,M,3,130,131,0,1,115,1,1.2,2,1
916,57,F,1,130,236,0,3,174,0,0.0,2,1
917,38,M,2,138,175,0,1,173,0,0.0,1,0

In [8]:
Dummies=pd.get_dummies(df4.Sex)
Dummies=Dummies.drop(['F'],axis='columns')
merged=pd.concat([df4, Dummies], axis='columns')
X= merged.drop(['HeartDisease','Sex'], axis='columns')
X

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,4,110,264,0,1,132,0,1.2,2,1
914,68,3,144,193,1,1,141,0,3.4,2,1
915,57,3,130,131,0,1,115,1,1.2,2,1
916,57,1,130,236,0,3,174,0,0.0,2,0
917,38,2,138,175,0,1,173,0,0.0,1,1

In [9]:
y=merged.HeartDisease

In [10]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 902, dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_scaled= scaler.fit_transform(X)
X_scaled

array([[-1.42896269, -1.6990351 ,  0.46089071, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       [-0.47545956, -0.52558207,  1.5925728 , ...,  0.14079864,
         0.62072967, -1.94228905],
       [-1.74679706, -1.6990351 , -0.10495034, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.33831089,
         0.62072967,  0.51485643],
       [ 0.37209878, -1.6990351 , -0.10495034, ..., -0.84676261,
         0.62072967, -1.94228905],
       [-1.64085227, -0.52558207,  0.3477225 , ..., -0.84676261,
        -1.0456339 ,  0.51485643]])

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [13]:
from sklearn.svm import SVC

In [14]:
model_svm= SVC()
model_svm.fit(X_train, y_train)

SVC()

In [15]:
model_svm.score(X_test, y_test)

0.850828729281768

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(n_estimators=40)
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=40)

In [25]:
rfc.score(X_test, y_test)

0.8674033149171271

In [27]:
X_train.shape

(721, 11)

In [28]:
X_test.shape

(181, 11)

In [29]:
from sklearn.ensemble import BaggingClassifier
model_1=BaggingClassifier(
               base_estimator=RandomForestClassifier(),
               n_estimators=100,
               max_samples=0.8,
               oob_score=True,
               random_state=0)
model_1.fit(X_train, y_train)

BaggingClassifier(base_estimator=RandomForestClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=0)

In [32]:
model_1.score(X_test, y_test)

0.8729281767955801

In [31]:
model_1.oob_score_

0.8751733703190014

In [36]:
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import cross_val_score
model_2=BaggingClassifier(
               base_estimator=SVC(),
               n_estimators=100,
               max_samples=0.8,
               oob_score=True,
               random_state=0)
model_2.fit(X_train, y_train)
scores=cross_val_score(model_1, X, y, cv=5)

In [35]:
model_2.score(X_test, y_test)

0.856353591160221

In [37]:
score

NameError: name 'score' is not defined

In [39]:
scores.mean()

0.6850767341927564

In [40]:
scores2= cross_val_score(RandomForestClassifier(), X, y, cv=5)

In [41]:
scores2

array([0.86187845, 0.82872928, 0.83888889, 0.82777778, 0.76111111])

In [42]:
scores2.mean()

0.8236771025168815